@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */

@font-face {
    font-family: 'YourFont';
    src: url('/_next/static/media/a34f9d1faa5f3315-s.p.woff2') format('woff2');
    font-display: swap; /* or optional, fallback, block */
  }